Using v2.3 in :client_ options gives 'Could not authenticate you from Facebook because "Invalid credentials". 

I have configured omniauth on devise and I am getting the above error if I pass v2.3 in the client options. However passing v2.0 instead of v2.3 works fine. 

    config.omniauth :facebook, "App_id", "App_secret",
    :scope => 'email, user_birthday, public_profile', :display => 'page', 
    :image_size => 'square', :client_options => {
    :site => 'https://graph.facebook.com/v2.3',
    :authorize_url => "https://www.facebook.com/v2.3/dialog/oauth",
    :token_url => 'oauth/access_token'}

and in the logs I am getting like this.

    ERROR -- : (facebook) Authentication failure! invalid_credentials: OAuth2::Error, : {"access_token":"Blah..Blah..a huge token string","token_type" :"bearer","expires_in":5168448 }

Is there a fix for this or else what is the reason behind this error?

No activity on this, so closing for now. Please ping if you're still running into issues or have new info and we'll re-open.

Oh I just found this issue and I got exactly the same problem
`2.4` & `2.3` throws the same error, and `2.2` works.

I have tested with `3.0.0` & `2.0.1` of this gem, same result for both versions.
Other related gems:
- `devise` `3.5.2`
- `omniauth-oauth2` `1.3.1` /  `1.4.0`
- `omniauth` 1.2.2`

My config (in `Devise.setup`):
```ruby
config.omniauth(:facebook, ENV['FACEBOOK_APP_ID'], ENV['FACEBOOK_APP_SECRET'], {
    # We were specifying API v1.0 because we want their friends list for our campaign.
    # Now that the campaign is over and the limit is close, we'll have to switch to version 2.
    # These three are default approved permissions.
    scope: %w[ email public_profile user_friends ].join(","),

    provider_ignores_state: true,

    client_options: {
      # This actually required for future versions of FB
      # See https://github.com/mkdynamic/omniauth-facebook#api-version
      # For some reason `v2.3` doesn't work
      site:          "https://graph.facebook.com/v2.3",
      authorize_url: "https://www.facebook.com/v2.3/dialog/oauth",
    },
  })
```
Error message:
```
ERROR -- omniauth: (facebook) Authentication failure! invalid_credentials: OAuth2::Error, :
{"access_token":"**long string**","token_type":"bearer","expires_in":5098960}
```

@mkdynamic Running into the same issue here and really need API version 2.5 so please let me know how can I help debugging?!

Ok, got it. Quoting API changelog 

> [Oauth Access Token] Format - The response format of https://www.facebook.com/v2.3/oauth/access_token returned when you exchange a code for an access_token now return valid JSON instead of being URL encoded. The new format of this response is {“access_token”: <TOKEN>, “token_type”:<TYPE>, “expires_in”:<TIME>}. We made this update to be compliant with section 5.1 of RFC 6749.

So the problem lays in this line

    option :token_params, {
      :parse => :query
    }

It would have to be set to `:query` for API < 2.3 and `:json` or `nil` for >= 2.3. I tested it and this one change fixed the bug.

I think the doc about this `token_params` option should be added near "API Version" in README.
Since the right option depends on the API version to use.

Donno weather I am experiencing this bug. But when I try it on the server, I am getting this error

```
http://domain.com/auth/failure?message=invalid_credentials&origin=http%3A%2F%2Fdev.1connect.sworx.com.au%2Fusers%2Fsign_in&strategy=facebook#_=_
```

Not sure if i have identical problem, but here's my config:
```
config.omniauth :facebook, Rails.configuration.x.facebook_key, Rails.configuration.x.facebook_secret, {
      image_size: 'large',
      scope: 'email',
      info_fields: 'name,email',
      callback_url: OmniAuth.config.full_host + '/users/auth/facebook/callback',
      client_options: {
          site: 'https://graph.facebook.com/v2.5',
          authorize_url: 'https://www.facebook.com/v2.3/dialog/oauth'
      },
      token_params: { parse: :json }
  }
```
Trying to login fails with flash `Could not authenticate you from Facebook because "Invalid credentials".` and logs are like that:
```
[INFO ] GET     "/omniauth/facebook?locale=en"  for 83.5.145.11  at 2016-02-03 14:48:14 +0100
[INFO ] === Processing by OmniauthController#localized as HTML
[INFO ]   Parameters: {"locale"=>"en", "provider"=>"facebook"}
[INFO ] Redirected to http://dev.show-skill.net/users/auth/facebook?locale=en
[INFO ] Completed 302 Found in 1ms
[INFO ] GET     "/users/auth/facebook?locale=en"  for 83.5.145.11  at 2016-02-03 14:48:14 +0100
[INFO ] GET     "/omniauth/facebook?locale=en"  for 83.5.145.11  at 2016-02-03 14:48:14 +0100
[INFO ] === Processing by OmniauthController#localized as HTML
[INFO ]   Parameters: {"locale"=>"en", "provider"=>"facebook"}
[INFO ] Redirected to http://dev.show-skill.net/users/auth/facebook?locale=en
[INFO ] Completed 302 Found in 1ms
[INFO ] GET     "/users/auth/facebook?locale=en"  for 83.5.145.11  at 2016-02-03 14:48:14 +0100
[INFO ] GET     "/users/auth/facebook/callback?code=AQDXTshCln60EiDbK00wA6RVXJyynx4x_Y3VJS6BoJHiuQ8wafgqTo8uZw7Grr2bxX1VSDk3V0pP8ReLoCzBRcWpyTItZVHOsDCr6_GfhKRph3blZRAm9wCJh39ru32ovnaIFboNEUNfznrONTvu7_UrG0uQnZzhbSu9x5gxl-odsYRJbMH4mbKEqoHO5GCQgl1E0e9VvN5-WA16igM5RoSDelpjG0ykmLF_XNCtk--hVmKQWMVblWD4-10g48QJ1_cm63oHlyxMZ4VulV3_o1Pc_bsy5JyqJsZkg09PxmvBkLugcTLjx1MAFP0X7nisPOREJKsJn1CNxaiO1T2N1eF7&state=96efc7c04d25a315bb45bb3daa209e6612fc2e40bd8367ce"  for 83.5.145.11  at 2016-02-03 14:48:15 +0100
[INFO ] === Processing by Devise::OmniauthCallbacksController#failure as HTML
[INFO ]   Parameters: {"code"=>"AQDXTshCln60EiDbK00wA6RVXJyynx4x_Y3VJS6BoJHiuQ8wafgqTo8uZw7Grr2bxX1VSDk3V0pP8ReLoCzBRcWpyTItZVHOsDCr6_GfhKRph3blZRAm9wCJh39ru32ovnaIFboNEUNfznrONTvu7_UrG0uQnZzhbSu9x5gxl-odsYRJbMH4mbKEqoHO5GCQgl1E0e9VvN5-WA16igM5RoSDelpjG0ykmLF_XNCtk--hVmKQWMVblWD4-10g48QJ1_cm63oHlyxMZ4VulV3_o1Pc_bsy5JyqJsZkg09PxmvBkLugcTLjx1MAFP0X7nisPOREJKsJn1CNxaiO1T2N1eF7", "state"=>"96efc7c04d25a315bb45bb3daa209e6612fc2e40bd8367ce"}
[INFO ] Redirected to http://dev.show-skill.net/en/users/sign_in
[INFO ] Completed 302 Found in 4ms
[INFO ] GET     "/en/users/sign_in"  for 83.5.145.11  at 2016-02-03 14:48:16 +0100
[INFO ] === Processing by Devise::SessionsController#new as HTML
```
Weird part is it was working just for like 3-4 days ago without an issue. Now it's working only on development environment (on test app)

Did you check with `token_params: { parse: :query }`?

Yep, same thing

Can you also try with api version `2.3`? Also can you include gem version that you're using?


On developers.facebook.com there's an info that lowest version i can use is v2.5. Before this 3 days it was working well without client_options or token_params..

Gem version (from gemfile.lock):
```
omniauth (1.3.1)
      hashie (>= 1.2, < 4)
      rack (>= 1.0, < 3)
    omniauth-facebook (3.0.0)
```
I can't try with api version 2.3. developers.facebook.com says that the lowest api i can use is v2.5:

https://scr.hu/0qawf/hi2l6

Ok, seems like my problem is with ip whitelist..
```
[ERROR] (facebook) Authentication failure! invalid_credentials: OAuth2::Error, {"message"=>"This IP can't make requests for that application.", "type"=>"OAuthException", "code"=>5, "fbtrace_id"=>"BQJzhnUsOm+"}: 
{"error":{"message":"This IP can't make requests for that application.","type":"OAuthException","code":5,"fbtrace_id":"BQJzhnUsOm+"}}
```
Still weird, but i think it's not related to this thread

@mkdynamic I provided a patch for README, I don't think this is an optimal solution but should help at least some people facing this problem (which is EVERYONE who tries to use this gem with a new Facebook app at the moment)

Thanks @hajder, that is great! Looks like @simi is reviewing and I expect he will merge soon.

Just a wee data point. It looks like they've switched *back* to a URL-encoded response in v2.6 of the API! I can't find the API changelog offhand to see exactly which version is was reverted in...

The next version of this gem will be using versioned APIs.